<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security"
    xmlns="https://www.w3.org./1999/xhyml">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <section th:fragment="botonesAgregar" class="py-4 mb-4 bg-light">
        <div class="container">
            <div class="row">
                <div class="col-md-3" sec:authorize="hasRole('ROLE_ADMIN')">
                    <a href="#" class="btn btn-primary btn-block" data-toggle="modal" data-target="#agregarCliente">
                        <i class="fa fa-plus" aria-hidden="true"></i>[[#{accion.agregar}]]
                    </a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>